<footer>
    <div class="container">
        <div class="row text-">
            <div class="col-md-4 d-flex align-items-center">
                <p> Copyright © TAI HAN EQUIPMENT ENTERPRISE CO., LTD</p>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-12 icon-map" style="display: none">
                        <span><i class="fas fa-map-marker-alt"></i>
                          <%=t("TAIHAN_address_main")%>
                        </span>
                    </div>

                    <div class="col-md-12" style="display: none">

                        <span><i class="fas fa-phone-square"></i> +886 2 2595-5983  </span>&nbsp;
                        <span><i class="fas fa-fax"></i> +886 2 2595-9393  </span>&nbsp;
                        <span><i class="fas fa-envelope"></i> info@thmageq.com  </span>
                    </div>


                    <div class="col-12 icon-map">
                          <span><i class="fas fa-map-marker-alt"></i>
                            <%=t("TAIHAN_address")%>
                          </span>
                    </div>

                    <div class="col-md-12">
                          <span><i class="fas fa-phone-square"></i> +886 3 668-5699  </span>&nbsp;
                          <span><i class="fas fa-fax"></i> +886 3 668-2989  </span>&nbsp;
                          <span><i class="fas fa-envelope"></i> info@thmageq.com  </span>
                    </div>




                </div>
            </div>

        </div>
    </div>

</footer>

<style type="text/css">

    .cid-r33fHMbSeh{        
        background-repeat: no-repeat;
        padding-top: 90px;
        background-position: center top;
        padding-bottom: 90px;
        background-size: 100% 100%;
        background-image: url("../../../assets/images/banner-bg-1920x554.jpg");             
        /*position: initial !important;
        
        background-image: url(../../../assets/images/banner-bg-1920x554.jpg) !important;    */    
    }
</style>