<%
# <div class="header1 cid-r33fHMbSeh mbr-parallax-background">
#     <div class="container">
#         <div class="row justify-content-md-right">
#             <div class="col-md-6 flex-center" >
#                 <div style="height: 100px;">&nbsp;</div>
#                 <img src="images/banner_t2.png" width="80%" alt="" style="display: none;">
#             </div>
#             <div class="col-md-6 text-center">
#             </div>
#         </div>
#     </div>
# </div>
%>


<div class="header1 mbr-parallax-background">    
    <img src="http://www.thmageq.com/assets/images/banner-bg-1920x554.jpg">
</div>

<style type="text/css">
    
    .header1{
        width: 100%;
    }
    .header1 img{
        max-width: 100%;
        
    /*padding-top: 90px;
    background-position: center top;
    padding-bottom: 90px;
    background-size: 100% 100%;
    background-image: url(../../../assets/images/banner-bg-1920x554.jpg);*/

    }
    
</style>