<div class="col-md-6">
    <div class="titleBox2">
        <h2 class="title">為什麼選擇我們？</h2>
    </div>
    <div class="Txt">
        <h4>• 經驗豐富的核心技術</h4>
        <p>雄厚的核心技術,具備創新和專業能力的專業團隊提供了持續發展實力。</p>
        <h4>• 磁性應用技術</h4>
        <p>在積極擴展我們的磁鐵相關產品以滿足全球客戶需求的同時,我們的研發團隊同時展限專業技術,不斷研發磁性應用技術,並成功開發出一系列高品質的金屬分離器,能供應塑料,回收,食品和飲料等各個行業的需求。</p>
        <h4>• 客製化生產</h4>
        <p>憑藉豐富的經驗,我們的工程部門為各行業的不同生產線設計客製化的除鐵器,與客戶合作無間,讓產品達到最高效能的應用。</p>
    </div>
</div>
<div class="col-md-6">
    <div class="titleBox2">
        <h2 class="title">我們是誰？</h2>
    </div>
    <div class="Img">
	<!--- <img src="images/about/about_img.jpg" width="100%" alt=""> --->
        <img src="images/img1.jpg" width="100%" alt="">
    </div>
    <div class="Txt">
        <h4>• 20年的經驗和知識</h4>
        <p>泰翰團隊擁有超過20年磁性材料經驗和產品管理經驗。</p>
        <h4>• 資深顧問</h4>
        <p>資深顧問能從學術和實務角度為全球客戶提供專業技術解決方案。</p>
    </div>
</div>
