<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>勵傑國際智慧財產權事務所</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/slick.css">
	<link rel="stylesheet" type="text/css" href="css/slick-theme.css">

	<link rel="stylesheet" type="text/css" href="css/default.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">

	<script src="js/jquery-1.12.4.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/slick.min.js"></script>
	<script src="js/template.js"></script>

	<script type="text/javascript">
	$(document).ready(function(){
		$(".slick").slick({
			autoplay: true,
			arrows: false,
			dots: true
		});
	});
	</script>
</head>
<body>
	<header>
		<nav class="clearfix">
			<a href="index.html"><img src="img/logo.jpg"></a>

			<section class="PC">
				<div class="lan">
					<img src="img/language.png" data-toggle="dropdown">
					<ul class="dropdown-menu">
					    <li><a href="#">中文</a></li>
					    <li><a href="#">English</a></li>
					    <li><a href="#">日本語</a></li>
					</ul>
				</div>
				<form>
					<input type="text" name="" placeholder="輸入關鍵字">
					<input type="submit" name="" value="" class="search">
				</form>
			</section>
			<ul class="PC">
				<li class="dropdown">
					<a data-toggle="dropdown">關於勵傑<span class="caret"></span></a>
					<span>ABOUT US</span>
					<ul class="dropdown-menu">
						<li><a href="about.html">About 1</a></li>
						<li><a href="about.html">About 2</a></li>
					</ul>
				</li>
				<li>
					<a href="service.html">服務項目</a>
					<span>SERVICES</span>
				</li>
				<li>
					<a href="news.html">最新消息</a>
					<span>NEWS</span>
				</li>
				<li>
					<a href="event.html">線上報名</a>
					<span>SIGN UP</span>
				</li>
				<li>
					<a href="download.html">檔案下載</a>
					<span>DOWNLOAD</span>
				</li>
				<li>
					<a href="contact.html">聯絡我們</a>
					<span>CONTACT</span>
				</li>
			</ul>

			<a data-toggle="modal" data-target="#modal"><img class="MB" src="img/mb.jpg"></a>
			<div id="modal" class="MB fade">
				<section>
					<div class="lan">
						<img src="img/language.png" data-toggle="dropdown">
						<ul class="dropdown-menu">
						    <li><a href="#">中文</a></li>
						    <li><a href="#">English</a></li>
						</ul>
					</div>
					<form>
						<input type="text" name="" placeholder="輸入關鍵字">
						<input type="submit" name="" value="" class="search">
					</form>
				</section>
				<ul>
					<li class="dropdown">
						<a data-toggle="dropdown">關於勵傑<span class="caret"></span></a>
						<span>ABOUT US</span>
						<ul class="dropdown-menu">
							<li><a href="about.html">About 1</a></li>
							<li><a href="about.html">About 2</a></li>
						</ul>
					</li>
					<li>
						<a href="service.html">服務項目</a>
						<span>SERVICES</span>
					</li>
					<li>
						<a href="news.html">最新消息</a>
						<span>NEWS</span>
					</li>
					<li>
						<a href="signup.html">線上報名</a>
						<span>SIGN UP</span>
					</li>
					<li>
						<a href="download.html">檔案下載</a>
						<span>DOWNLOAD</span>
					</li>
					<li>
						<a href="contact.html">聯絡我們</a>
						<span>CONTACT</span>
					</li>
				</ul>
			</div>
		</nav>
	</header>

	<div id="container">
		<div id="main">
			<section class="slick">
				<div><img src="img/index/1.jpg"></div>
				<div><img src="img/index/2.jpg"></div>
				<div><img src="img/index/3.jpg"></div>
			</section>

			<div class="center">
				<p>Thinking Hands Open the Door</p>
				<p>to Success</p>
				<img src="img/index/hr.png">
				<span>智慧之手開啟成功之門</span>
			</div>
		</div>

		<article>
			<div class="pic">
				<a href="signup.html"><img src="img/index/signup.png"></a>
				<a href="download.html"><img src="img/index/download.png"></a>
			</div>
			<div class="news clearfix">
				<p class="title clearfix"><span>最新消息</span><span class="right">NEWS</span></p>
				<ul>
					<li><a href=""><span>2016/08/17</span>最新消息(4)</a></li>
					<li><a href=""><span>2016/08/16</span>最新消息(3)</a></li>
					<li><a href=""><span>2016/08/15</span>最新消息(2)</a></li>
					<li><a href=""><span>2016/08/14</span>最新消息(1)</a></li>
				</ul>
				<a href="news.html"><span class="more">&gt&gtmore...</span></a>
			</div>
			<div class="news clearfix">
				<p class="title clearfix"><span>關於智慧財產權</span><span class="right">Intellectual property</span></p>
				<ul>
					<li><a href=""><span>2016/08/17</span>認識智慧財產權之台灣篇(4)</a></li>
					<li><a href=""><span>2016/08/16</span>認識智慧財產權之台灣篇(3)</a></li>
					<li><a href=""><span>2016/08/15</span>認識智慧財產權之台灣篇(2)</a></li>
					<li><a href=""><span>2016/08/14</span>認識智慧財產權之台灣篇(1)</a></li>
				</ul>
				<a href="news.html"><span class="more">&gt&gtmore...</span></a>
			</div>
		</article>
	</div>

	<footer>
		<!-- template.js -->
	</footer>
</body>
</html>
