<form>

  <div class="form-group">
    <label for="pwd">name:</label>
    <input type="text" class="form-control" id="pwd">
  </div>

  <div class="form-group">
    <label for="pwd">level:</label>

    <select class="selectpicker">
      <option value="1" ></option>
      <option>Ketchup</option>
      <option>Relish</option>
    </select>
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>
