<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  	<title></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  	<meta name="viewport" content="width=device-width, initial-scale=1">


  	<script src="/horizon_html/js/jquery-1.12.4.min.js"></script>
  	<script src="/horizon_html/js/bootstrap.min.js"></script>
  	<script src="/horizon_html/js/slick.min.js"></script>
  	<script src="/horizon_html/js/template.js"></script>

  	<script type="text/javascript">
  	$(document).ready(function(){
  		$(".slick").slick({
  			autoplay: true,
  			arrows: false,
  			dots: true
  		});
  	});
  	</script>

    <body data-no-turbolink="true">


    <%= yield %>


  </body>
</html>
